<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/head.ejs')%>
</head>
<body>
    
<div class="container">

<header>
    <a href="/" class="logo">Poly<span>Room</span></a>

    <div id="menu" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="/login"><i class="bi bi-door-open-fill"></i>Log<span>In</span></a>
    </nav>


</header>

<h1 class="heading">Subscription</h1>

<!-- contact section  -->

<section class="contact">

<div class="image">
    <img src="images/contact-img.svg" alt="">
</div>

<form class="" action="">

    <div class="inputBox">
        <input type="text" name="name" placeholder="Fullname">
        <input type="email" name="email" placeholder="email">
    </div>

    <input type="text" name="password" placeholder="Password" class="box">

    <label for="subject" class="form-label">what is your status?</label>
    <div class="input-group box">
        <span class="input-group-text">
        </span>
        <select class="form-select" name="status" id="subject">
            <option value="teacher" selected>Teacher</option>
            <option value="student">Student</option>
        </select>
    </div>

    <input type="submit" class="btn" value="Subscribe">

</form>

</section>


<!-- footer section  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>about us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, maxime!</p>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">course</a>
            <a href="#">teacher</a>
            <a href="#">price</a>
            <a href="#">review</a>
            <a href="#">contact</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">linkedin</a>
        </div>

        <div class="box">
            <h3>contact us</h3>
           <p> <i class="fas fa-phone"></i> +123-456-7890 </p>
           <p> <i class="fas fa-envelope"></i> studysmart@gmail.com </p>
           <p> <i class="fas fa-map-marker-alt"></i> mumbai, india - 400104 </p>
        </div>

    </div>

    <div class="credit"> created by <span> mr. web designer </span> | all rights reserved </div>

</section>

</div>










<script>
    const form = document.querySelector('form');

    form.addEventListener('submit',(e)=>{
        e.preventDefault
    })

    //get the values
    const name = form.name.value;
    const email =form.email.value;
    const password = form.password.value;
    const status = form.status.value;

    console.log(name,email,password,status);
</script>




<!-- custom js file link -->
<script src="js/script.js"></script>

</body>
</html>